<div id="divChart">
  <div style="text-align: center;">
    <h1 style="text-align: center; margin-top: 2%;">Estatísticas</h1>
  </div>
  <canvas id="Servico" class="graficos" style="float: left;"></canvas>
  <canvas id="On-Line" style="float: right;"class="graficos"></canvas>
  <canvas id="Desistentes" class="graficos" style="float: left;"></canvas>
  <canvas id="AtendimentoConcluido" class="graficos" style="float: right;"></canvas>
  <canvas id="Materiais" class="graficos" style="float: left;"></canvas>
  <canvas id="Finalizados" class="graficos" style="float: right;"></canvas>
</div>
